html {
  position: relative;
  width: 100vw;
}
body {
  margin: 0;
  /*font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-family: Roboto, "Open Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
}
body::-webkit-scrollbar {
  display: none;
}

/*Safariだけに適用される新型CSSハック*/
_::-webkit-full-page-media, _:future, :root .css_selector {
  position: absolute;
  top: 15px;
  text-align: center;
}
